@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,400&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #e2d9ca;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 1028px) {
  p {
    font-size: 16px;
  }
}
