.masthead {
  margin: 2% auto;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: #e2d9ca;
  flex-wrap: wrap;
}

.hero {
  width: 100%;
  max-width: 500px;
  height: auto;
  border: none;
}

.mastheadLeft {
  display: flex;
  flex-direction: column;
}

.mastheadRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.headerName {
  font-family: "Noto Serif";
  letter-spacing: 2px;
  font-size: 1.2em;
  color: #ed872d;
}

.header {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 20px;
  color: #ed872d;
  font-family: "Noto Serif", serif;
}

.social {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
}

.social a {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* @media only screen and (max-width: 768px) {
  .social p {
    display: none;
  }
} */

@media only screen and (max-width: 1028px) {
  .masthead {
    flex-direction: column;
  }

  .header {
    font-size: 3rem;
  }

  .hero {
    width: 300px;
  }
}
